
.heading{
margin-top: 10rem;
margin-bottom: 5rem;
color: aliceblue;
display: flex;
align-items: center;
justify-content: center;
}
.details{
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: row;
color: aliceblue;
margin-bottom: 5rem;
font-size: medium;
}